@import "./base.css";

#app {
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: var(--font-display);
  text-align: center;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 20px 0;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  word-break: keep-all;
  overflow-wrap: break-word;
  padding: 2rem 1rem 0 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

p {
  font-family: var(--font-body);
  font-size: 1.7rem;
  text-align: center;
  margin-top: 0;
}

.section {
  max-width: 100%;
  margin: 20px auto;
  padding: 2rem;
  padding-top: 0.5rem;
  background-color: #252525;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
  color: white;
}

.gradient-line {
  height: 2px;
  width: 100%;
  margin: 1rem 0 2rem 0;
  background: linear-gradient(to right, transparent, #fff, transparent);
}

.text-center {
  text-align: center;
}

.img-rounded {
  border-radius: 12px;
}

.img-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.img-hover-zoom:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card-style {
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 12px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 260px;
  flex: 0 0 260px;
}
.card-style:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.12);
}

.card-img-style {
  width: 100%;
  max-width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}

.section-style {
  max-width: 100%;
  margin: 20px auto;
  padding: 2rem;
  background-color: #252525;
  border-radius: 12px;
  color: white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
}

.grid-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
}

.section-style p {
  margin: 0;
  padding-top: 10px;
  line-height: 1.2;
  font-size: 1.2rem;
}

.team-image {
  display: block;
  margin: 0 auto 2rem auto;
  width: 90%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

/* Responsivt */
@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .section-style p {
    font-size: 1.5rem;
  }

  .responsive-img {
  width: 60%;
  }
}

@media (min-width: 1130px) {
  body {
    display: flex;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .section-style p {
    font-size: 2rem;
  }

  .team-image {
  max-width: 30%;
  }

  .responsive-img {
  width: 30%;
  }
}
