@import "./base.css";

#app {
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: var(--font-display);
  text-align: center;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 20px 0;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 20px;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  word-break: keep-all;
  overflow-wrap: break-word;
  padding: 0rem 1rem 0 1rem;
  margin-top: 40px;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

p {
  font-family: var(--font-body);
  font-size: 1.7rem;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.gradient-line {
  height: 2px;
  width: 100%;
  margin: 1rem 0 2rem 0;
  background: linear-gradient(to right, transparent, #fff, transparent);
}

.section-style,
.section {
  max-width: 100%;
  margin: 35px 20px;
  padding: 1rem 1rem 1rem;
  background-color: var(--color-second-background);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
  color: white;
}

.text-center {
  text-align: center;
}

.img-rounded {
  border-radius: 12px;
}

.img-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.img-hover-zoom:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 40px auto;
}

.card-style {
  background-color: var(--color-third-background);
  border-radius: 12px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
  flex: 1 1 100%;
  margin-bottom: 20px;

}

.card-style:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.12);
}

.card-img-style {
  width: 90%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
  margin-top: 20px;
  margin-bottom: 15px;
}

.grid-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}



/* Responsivt */
@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
  }

  .responsive-img {
    width: 60%;
  }
}

@media (min-width: 1130px) {
  body {
    display: flex;
  }

  .card-style {
    width: 460px;   
    flex: 0 0 460px;
    margin: 50px 30px;
    margin-top: 0px;
  }

  .card-img-style {
  height: 250px;
  }

  .grid-style {
    gap: 30px;
    margin-top: 40px; 
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 2.2rem;
  }

  .responsive-img {
    width: 30%;
  }
}
